swagger: '2.0'
info:
  contact:
    name: GCP HCP Team
    url: 'https://github.com/openshift-online/gcp-hcp-ctl'
  description: >-
    HyperFleet GCP API provides CRUD operations for managing OpenShift hosted
    control plane

    clusters on Google Cloud Platform.


    **Architecture**: Simple CRUD only, no business logic, no event creation.

    Sentinel operator handles all orchestration logic.

    Adapters handle the specifics of managing spec.
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  title: HyperFleet GCP API
  version: 1.0.0
host: hyperfleet-api.gcp-hcp.devshift.net
basePath: /
schemes:
  - https
paths:
  /api/hyperfleet/v1/channels:
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/ChannelList'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Channels
      description: >-
        Returns a paginated list of channels, optionally filtered by labels or
        TSL query.
      operationId: getChannels
      summary: List channels
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ChannelCreateRequest'
      responses:
        '201':
          description: >-
            The request has succeeded and a new resource has been created as a
            result.
          schema:
            $ref: '#/definitions/Channel'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Channels
      description: Creates a new channel.
      operationId: postChannel
      summary: Create channel
  '/api/hyperfleet/v1/channels/{channel_id}':
    delete:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
      responses:
        '202':
          description: >-
            The request has been accepted for processing, but processing has not
            yet completed.
          schema:
            $ref: '#/definitions/Channel'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        '409':
          description: The request conflicts with the current state of the server.
          schema:
            $ref: '#/definitions/ConflictDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Channels
      description: >-
        Marks the channel for deletion. Returns 409 if versions still exist
        (RESTRICT policy).
      operationId: deleteChannelById
      summary: Request channel deletion
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - in: path
          name: channel_id
          required: true
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Channel'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Channels
      description: Returns a single channel by its ID.
      operationId: getChannelById
      summary: Get channel by ID
    patch:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ChannelPatchRequest'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Channel'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        '409':
          description: The request conflicts with the current state of the server.
          schema:
            $ref: '#/definitions/ConflictDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Channels
      description: Patches a channel by ID. Supports partial updates to spec and labels.
      operationId: patchChannelById
      summary: Patch channel by ID
  '/api/hyperfleet/v1/channels/{channel_id}/versions':
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/VersionList'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Versions
      description: Returns a paginated list of versions for a channel.
      operationId: getVersionsByChannelId
      summary: List versions for channel
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/VersionCreateRequest'
      responses:
        '201':
          description: >-
            The request has succeeded and a new resource has been created as a
            result.
          schema:
            $ref: '#/definitions/Version'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Versions
      description: Creates a new version under a channel.
      operationId: postVersion
      summary: Create version
  '/api/hyperfleet/v1/channels/{channel_id}/versions/{version_id}':
    delete:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - in: path
          name: version_id
          required: true
          type: string
      responses:
        '202':
          description: >-
            The request has been accepted for processing, but processing has not
            yet completed.
          schema:
            $ref: '#/definitions/Version'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        '409':
          description: The request conflicts with the current state of the server.
          schema:
            $ref: '#/definitions/ConflictDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Versions
      description: Marks a version for deletion.
      operationId: deleteVersionById
      summary: Request version deletion
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - in: path
          name: version_id
          required: true
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Version'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Versions
      description: Returns a single version by its ID within a channel.
      operationId: getVersionById
      summary: Get version by ID
    patch:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - in: path
          name: version_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/VersionPatchRequest'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Version'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        '409':
          description: The request conflicts with the current state of the server.
          schema:
            $ref: '#/definitions/ConflictDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Versions
      description: Patch a version by ID. Supports partial updates to spec and labels.
      operationId: patchVersionById
      summary: Patch version by ID
  /api/hyperfleet/v1/clusters:
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/ClusterList'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Clusters
      description: Returns a list of all clusters.
      operationId: getClusters
      summary: List clusters
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ClusterCreateRequest'
      responses:
        '201':
          description: >-
            The request has succeeded and a new resource has been created as a
            result.
          schema:
            $ref: '#/definitions/Cluster'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        '409':
          description: The request conflicts with the current state of the server.
          schema:
            $ref: '#/definitions/ConflictDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Clusters
      description: >-
        Create a new cluster resource.


        **Note**: The `status` object in the response is read-only and computed
        by the service.

        It is NOT part of the request body. Initially,

        status.conditions will include mandatory "LastKnownReconciled" and
        "Reconciled" conditions.
      operationId: postCluster
      summary: Create cluster
  '/api/hyperfleet/v1/clusters/{cluster_id}':
    delete:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: cluster_id
          required: true
          type: string
      responses:
        '202':
          description: >-
            The request has been accepted for processing, but processing has not
            yet completed.
          examples:
            application/json:
              created_by: user@redhat.com
              created_time: '2021-01-01T00:00:00Z'
              deleted_by: user@redhat.com
              deleted_time: '2021-01-01T10:05:00Z'
              generation: 2
              href: >-
                https://api.hyperfleet.com/v1/clusters/019466a0-8f8e-7abc-9def-0123456789ab
              id: 019466a0-8f8e-7abc-9def-0123456789ab
              kind: Cluster
              labels:
                env: dev
                shard: '1'
              name: my-gcp-cluster
              spec:
                infraID: my-gcp-cluster
                issuerURL: >-
                  https://oidc.dev-reg-us-c1-abc123.dev.gcp-hcp.devshift.net/my-gcp-cluster
                platform:
                  gcp:
                    endpointAccess: PublicAndPrivate
                    network: dev-mgt-us-c1-vpc
                    projectID: my-gcp-project-123
                    region: us-central1
                    subnet: dev-mgt-us-c1-psc-001
                    workloadIdentity:
                      poolID: my-gcp-cluster-pool
                      projectNumber: '123456789012'
                      providerID: my-gcp-cluster-provider
                      serviceAccountsRef:
                        cloudControllerEmail: >-
                          my-gcp-cluster-cloud-ctrl@my-gcp-project-123.iam.gserviceaccount.com
                        controlPlaneEmail: >-
                          my-gcp-cluster-ctrlplane@my-gcp-project-123.iam.gserviceaccount.com
                        imageRegistryEmail: >-
                          my-gcp-cluster-img-reg@my-gcp-project-123.iam.gserviceaccount.com
                        networkEmail: >-
                          my-gcp-cluster-cloud-net@my-gcp-project-123.iam.gserviceaccount.com
                        nodePoolEmail: >-
                          my-gcp-cluster-nodepool@my-gcp-project-123.iam.gserviceaccount.com
                        storageEmail: >-
                          my-gcp-cluster-gcp-pd-csi@my-gcp-project-123.iam.gserviceaccount.com
                  type: gcp
                release:
                  channelGroup: candidate
                  version: 4.18.0
              status:
                conditions:
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: >-
                      All required adapters reported Available=True or
                      Finalized=True at the current generation
                    observed_generation: 2
                    reason: ReconciledAll
                    status: 'True'
                    type: Reconciled
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: >-
                      All required adapters report Available=True for the
                      tracked generation
                    observed_generation: 2
                    reason: AllAdaptersReconciled
                    status: 'True'
                    type: LastKnownReconciled
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: This adapter1 is available
                    observed_generation: 2
                    reason: This adapter1 is available
                    status: 'True'
                    type: PlacementSuccessful
                  - created_time: '2021-01-01T10:01:00Z'
                    last_transition_time: '2021-01-01T10:01:00Z'
                    last_updated_time: '2021-01-01T10:01:00Z'
                    message: This adapter2 is available
                    observed_generation: 2
                    reason: This adapter2 is available
                    status: 'True'
                    type: HostedClusterSuccessful
              updated_by: user@redhat.com
              updated_time: '2021-01-01T10:02:00Z'
          schema:
            $ref: '#/definitions/Cluster'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Clusters
      description: >-
        Marks the cluster for deletion by setting deleted_time to the current
        time, cascades to its nodepools.

        The cluster remains in the database until it is fully deleted.

        Returns the updated cluster with generation incremented.
      operationId: deleteClusterById
      summary: Request cluster deletion
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Cluster'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Clusters
      description: Returns a single cluster by its ID.
      operationId: getClusterById
      summary: Get cluster by ID
    patch:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ClusterPatchRequest'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Cluster'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        '409':
          description: The request conflicts with the current state of the server.
          schema:
            $ref: '#/definitions/ConflictDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - Clusters
      description: Patch a specific cluster by ID
      operationId: patchClusterById
      summary: Patch cluster by ID
  '/api/hyperfleet/v1/clusters/{cluster_id}/nodepools':
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/NodePoolList'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: Returns the list of all nodepools for a cluster
      operationId: getNodePoolsByClusterId
      summary: List all nodepools for cluster
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/NodePoolCreateRequest'
      responses:
        '201':
          description: >-
            The request has succeeded and a new resource has been created as a
            result.
          schema:
            $ref: '#/definitions/NodePoolCreateResponse'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        '409':
          description: The request conflicts with the current state of the server.
          schema:
            $ref: '#/definitions/ConflictDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: Create a NodePool for a cluster
      operationId: createNodePool
      summary: Create nodepool
  '/api/hyperfleet/v1/clusters/{cluster_id}/nodepools/{nodepool_id}':
    delete:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - description: NodePool ID
          in: path
          name: nodepool_id
          required: true
          type: string
      responses:
        '202':
          description: >-
            The request has been accepted for processing, but processing has not
            yet completed.
          examples:
            application/json:
              created_by: user@redhat.com
              created_time: '2021-01-01T00:00:00Z'
              deleted_by: user@redhat.com
              deleted_time: '2021-01-01T10:05:00Z'
              generation: 2
              href: >-
                https://api.hyperfleet.com/v1/nodepools/019466a1-2b3c-7def-8abc-456789abcdef
              id: 019466a1-2b3c-7def-8abc-456789abcdef
              kind: NodePool
              labels:
                environment: production
                pooltype: worker
              name: worker-pool-1
              owner_references:
                href: >-
                  https://api.hyperfleet.com/v1/clusters/019466a0-8f8e-7abc-9def-0123456789ab
                id: 019466a0-8f8e-7abc-9def-0123456789ab
                kind: Cluster
              spec:
                platform:
                  gcp:
                    instanceType: n2-standard-4
                    rootVolume:
                      size: 100
                      type: pd-balanced
                    zone: us-central1-a
                  type: gcp
                release:
                  channelGroup: candidate
                  version: 4.18.0
                replicas: 2
              status:
                conditions:
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: >-
                      All required adapters reported Available=True or
                      Finalized=True at the current generation
                    observed_generation: 2
                    reason: ReconciledAll
                    status: 'True'
                    type: Reconciled
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: >-
                      All required adapters report Available=True for the
                      tracked generation
                    observed_generation: 2
                    reason: AllAdaptersReconciled
                    status: 'True'
                    type: LastKnownReconciled
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: >-
                      Version 4.18.0 resolved to release image via Cincinnati
                      channel candidate-4.18
                    observed_generation: 2
                    reason: ReleaseImageAvailable
                    status: 'True'
                    type: VersionResolved
                  - created_time: '2021-01-01T10:01:00Z'
                    last_transition_time: '2021-01-01T10:01:00Z'
                    last_updated_time: '2021-01-01T10:01:00Z'
                    message: NodePool ManifestWork applied to management cluster
                    observed_generation: 2
                    reason: ManifestWorkApplied
                    status: 'True'
                    type: NodePoolApplied
              updated_by: user@redhat.com
              updated_time: '2021-01-01T10:02:00Z'
          schema:
            $ref: '#/definitions/NodePool'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: >-
        Marks the nodepool for deletion by setting deleted_time and deleted_by.
        Does not affect the parent cluster.

        Returns the updated nodepool with generation incremented.
      operationId: deleteNodePoolById
      summary: Request nodepool deletion
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - description: NodePool ID
          in: path
          name: nodepool_id
          required: true
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/NodePool'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: Returns specific nodepool
      operationId: getNodePoolById
      summary: Get nodepool by ID
    patch:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - description: NodePool ID
          in: path
          name: nodepool_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/NodePoolPatchRequest'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/NodePool'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        '409':
          description: The request conflicts with the current state of the server.
          schema:
            $ref: '#/definitions/ConflictDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: Patch a specific nodepool within a cluster
      operationId: patchNodePoolById
      summary: Patch nodepool by ID
  /api/hyperfleet/v1/nodepools:
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/NodePoolList'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '401':
          description: The request requires valid authentication credentials.
          schema:
            $ref: '#/definitions/UnauthorizedDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: Returns the list of all nodepools
      operationId: getNodePools
      summary: List all nodepools for cluster
  /api/hyperfleet/v1/wifconfigs:
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/WifConfigList'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - WifConfigs
      description: >-
        Returns a paginated list of WIF configs, optionally filtered by labels
        or TSL query.
      operationId: getWifConfigs
      summary: List WIF configs
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/WifConfigCreateRequest'
      responses:
        '201':
          description: >-
            The request has succeeded and a new resource has been created as a
            result.
          schema:
            $ref: '#/definitions/WifConfig'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - WifConfigs
      description: Creates a new WIF config.
      operationId: postWifConfig
      summary: Create WIF config
  '/api/hyperfleet/v1/wifconfigs/{wifconfig_id}':
    delete:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: wifconfig_id
          required: true
          type: string
      responses:
        '202':
          description: >-
            The request has been accepted for processing, but processing has not
            yet completed.
          schema:
            $ref: '#/definitions/WifConfig'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        '409':
          description: The request conflicts with the current state of the server.
          schema:
            $ref: '#/definitions/ConflictDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - WifConfigs
      description: Marks a WIF config for deletion.
      operationId: deleteWifConfigById
      summary: Request WIF config deletion
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - in: path
          name: wifconfig_id
          required: true
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/WifConfig'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - WifConfigs
      description: Returns a single WIF config by its ID.
      operationId: getWifConfigById
      summary: Get WIF config by ID
    patch:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: wifconfig_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/WifConfigPatchRequest'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/WifConfig'
        '400':
          description: The server could not understand the request due to invalid syntax.
          schema:
            $ref: '#/definitions/BadRequestDetails'
        '404':
          description: The server cannot find the requested resource.
          schema:
            $ref: '#/definitions/NotFoundDetails'
        '409':
          description: The request conflicts with the current state of the server.
          schema:
            $ref: '#/definitions/ConflictDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/ProblemDetails'
      security:
        - BearerAuth: []
      tags:
        - WifConfigs
      description: Patches a WIF config by ID. Supports partial updates to spec and labels.
      operationId: patchWifConfigById
      summary: Patch WIF config by ID
definitions:
  BadRequestDetails:
    allOf:
      - $ref: '#/definitions/ProblemDetails'
    example:
      code: HYPERFLEET-VAL-001
      detail: The cluster name field is required
      instance: /api/hyperfleet/v1/clusters
      status: 400
      timestamp: '2024-01-15T10:30:00Z'
      title: Validation Failed
      trace_id: aabbccddeeff0011
      type: 'https://api.hyperfleet.io/errors/validation-error'
    type: object
  BearerAuth:
    properties:
      scheme:
        enum:
          - bearer
        type: string
      type:
        enum:
          - http
        type: string
    required:
      - type
      - scheme
    type: object
  Channel:
    example:
      created_by: user-123@example.com
      created_time: '2025-06-01T00:00:00Z'
      generation: 1
      href: /api/hyperfleet/v1/channels/019466a2-1234-7abc-9def-0123456789ab
      id: 019466a2-1234-7abc-9def-0123456789ab
      kind: Channel
      labels:
        tier: production
      name: stable
      spec:
        enabled_regex: ^4\.\d+\.\d+$
        is_default: true
      status:
        conditions: []
      updated_by: user-123@example.com
      updated_time: '2025-06-01T10:02:00Z'
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        maxLength: 63
        minLength: 1
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/ChannelSpec'
      status:
        $ref: '#/definitions/ResourceStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - status
    type: object
  ChannelCreateRequest:
    example:
      kind: Channel
      labels:
        tier: production
      name: stable
      spec:
        enabled_regex: ^4\.\d+\.\d+$
        is_default: true
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        maxLength: 63
        minLength: 1
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/ChannelSpec'
    required:
      - name
      - spec
    type: object
  ChannelList:
    properties:
      items:
        items:
          $ref: '#/definitions/Channel'
        type: array
      page:
        format: int32
        type: integer
      size:
        format: int32
        type: integer
      total:
        format: int32
        type: integer
    required:
      - page
      - size
      - total
      - items
    type: object
  ChannelPatchRequest:
    additionalProperties: false
    example:
      labels:
        tier: staging
      spec:
        enabled_regex: ^4\.17\.\d+$
        is_default: false
    minProperties: 1
    properties:
      labels:
        additionalProperties:
          type: string
        type: object
      spec:
        $ref: '#/definitions/ChannelSpec'
    type: object
  ChannelSpec:
    properties:
      enabled_regex:
        description: Regex pattern for matching enabled version strings
        type: string
      is_default:
        description: Whether this is the default channel for new clusters
        type: boolean
    required:
      - is_default
      - enabled_regex
    type: object
  Cluster:
    example:
      created_by: user@redhat.com
      created_time: '2021-01-01T00:00:00Z'
      generation: 1
      href: >-
        https://api.hyperfleet.com/v1/clusters/019466a0-8f8e-7abc-9def-0123456789ab
      id: 019466a0-8f8e-7abc-9def-0123456789ab
      kind: Cluster
      labels:
        env: dev
        shard: '1'
      name: my-gcp-cluster
      spec:
        infraID: my-gcp-cluster
        issuerURL: >-
          https://oidc.dev-reg-us-c1-abc123.dev.gcp-hcp.devshift.net/my-gcp-cluster
        platform:
          gcp:
            endpointAccess: PublicAndPrivate
            network: dev-mgt-us-c1-vpc
            projectID: my-gcp-project-123
            region: us-central1
            subnet: dev-mgt-us-c1-psc-001
            workloadIdentity:
              poolID: my-gcp-cluster-pool
              projectNumber: '123456789012'
              providerID: my-gcp-cluster-provider
              serviceAccountsRef:
                cloudControllerEmail: >-
                  my-gcp-cluster-cloud-ctrl@my-gcp-project-123.iam.gserviceaccount.com
                controlPlaneEmail: >-
                  my-gcp-cluster-ctrlplane@my-gcp-project-123.iam.gserviceaccount.com
                imageRegistryEmail: >-
                  my-gcp-cluster-img-reg@my-gcp-project-123.iam.gserviceaccount.com
                networkEmail: >-
                  my-gcp-cluster-cloud-net@my-gcp-project-123.iam.gserviceaccount.com
                nodePoolEmail: >-
                  my-gcp-cluster-nodepool@my-gcp-project-123.iam.gserviceaccount.com
                storageEmail: >-
                  my-gcp-cluster-gcp-pd-csi@my-gcp-project-123.iam.gserviceaccount.com
          type: gcp
        release:
          channelGroup: candidate
          version: 4.18.0
      status:
        conditions:
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: >-
              All required adapters reported Available=True or Finalized=True at
              the current generation
            observed_generation: 1
            reason: ReconciledAll
            status: 'True'
            type: Reconciled
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: >-
              All required adapters report Available=True for the tracked
              generation
            observed_generation: 1
            reason: AllAdaptersReconciled
            status: 'True'
            type: LastKnownReconciled
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: This adapter1 is available
            observed_generation: 1
            reason: This adapter1 is available
            status: 'True'
            type: PlacementSuccessful
          - created_time: '2021-01-01T10:01:00Z'
            last_transition_time: '2021-01-01T10:01:00Z'
            last_updated_time: '2021-01-01T10:01:00Z'
            message: This adapter2 is available
            observed_generation: 1
            reason: This adapter2 is available
            status: 'True'
            type: HostedClusterSuccessful
      updated_by: user@redhat.com
      updated_time: '2021-01-01T10:02:00Z'
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        description: >-
          Generation field is updated on customer updates, reflecting the
          version of the "intent" of the customer
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        description: Cluster name (unique)
        maxLength: 53
        minLength: 3
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/ClusterSpec'
      status:
        $ref: '#/definitions/ClusterStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - status
    type: object
  ClusterCreateRequest:
    example:
      kind: Cluster
      labels:
        env: dev
        shard: '1'
      name: my-gcp-cluster
      spec:
        infraID: my-gcp-cluster
        issuerURL: >-
          https://oidc.dev-reg-us-c1-abc123.dev.gcp-hcp.devshift.net/my-gcp-cluster
        platform:
          gcp:
            endpointAccess: PublicAndPrivate
            network: dev-mgt-us-c1-vpc
            projectID: my-gcp-project-123
            region: us-central1
            subnet: dev-mgt-us-c1-psc-001
            workloadIdentity:
              poolID: my-gcp-cluster-pool
              projectNumber: '123456789012'
              providerID: my-gcp-cluster-provider
              serviceAccountsRef:
                cloudControllerEmail: >-
                  my-gcp-cluster-cloud-ctrl@my-gcp-project-123.iam.gserviceaccount.com
                controlPlaneEmail: >-
                  my-gcp-cluster-ctrlplane@my-gcp-project-123.iam.gserviceaccount.com
                imageRegistryEmail: >-
                  my-gcp-cluster-img-reg@my-gcp-project-123.iam.gserviceaccount.com
                networkEmail: >-
                  my-gcp-cluster-cloud-net@my-gcp-project-123.iam.gserviceaccount.com
                nodePoolEmail: >-
                  my-gcp-cluster-nodepool@my-gcp-project-123.iam.gserviceaccount.com
                storageEmail: >-
                  my-gcp-cluster-gcp-pd-csi@my-gcp-project-123.iam.gserviceaccount.com
          type: gcp
        release:
          channelGroup: candidate
          version: 4.18.0
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        description: Cluster name (unique)
        maxLength: 53
        minLength: 3
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/ClusterSpec'
    required:
      - name
      - spec
    type: object
  ClusterList:
    properties:
      items:
        items:
          $ref: '#/definitions/Cluster'
        type: array
      page:
        format: int32
        type: integer
      size:
        format: int32
        type: integer
      total:
        format: int32
        type: integer
    required:
      - page
      - size
      - total
      - items
    type: object
  ClusterNetworkEntry:
    properties:
      cidr:
        type: string
      hostPrefix:
        type: integer
    type: object
  ClusterPatchRequest:
    additionalProperties: false
    example:
      labels:
        env: staging
      spec:
        platform:
          gcp:
            network: dev-mgt-us-c1-vpc
            projectID: my-gcp-project-123
            region: us-central1
            subnet: dev-mgt-us-c1-psc-001
          type: gcp
        release:
          channelGroup: stable
          version: 4.18.1
    minProperties: 1
    properties:
      labels:
        additionalProperties:
          type: string
        type: object
      spec:
        $ref: '#/definitions/ClusterSpec'
    type: object
  ClusterPlatformSpec:
    properties:
      gcp:
        $ref: '#/definitions/GCPClusterPlatform'
      type:
        enum:
          - gcp
        type: string
    required:
      - type
      - gcp
    type: object
  ClusterSpec:
    properties:
      dns:
        $ref: '#/definitions/DNSSpec'
      infraID:
        type: string
      issuerURL:
        type: string
      networking:
        $ref: '#/definitions/NetworkingSpec'
      platform:
        $ref: '#/definitions/ClusterPlatformSpec'
      release:
        $ref: '#/definitions/ReleaseSpec'
    required:
      - platform
    type: object
  ClusterStatus:
    description: >-
      Cluster status computed from all status conditions.


      This object is computed by the service and CANNOT be modified directly.

      It is aggregated from condition updates posted to
      `/clusters/{id}/statuses`.


      Provides quick overview of all reported conditions.
    properties:
      conditions:
        description: >-
          List of status conditions for the cluster.


          **Mandatory conditions**:

          - `type: "Reconciled"`: Whether the resource's desired state has been
          fully reconciled by all adapters at the current generation.

          - `type: "LastKnownReconciled"`: Sticky cross-generation condition —
          stays True as long as all required adapters were reconciled at a
          common observed generation, even if a newer generation is being
          processed.


          These conditions are present immediately upon resource creation.
        items:
          $ref: '#/definitions/ResourceCondition'
        minItems: 2
        type: array
    required:
      - conditions
    type: object
  ConflictDetails:
    allOf:
      - $ref: '#/definitions/ProblemDetails'
    example:
      code: HYPERFLEET-CNF-001
      detail: This Cluster already exists
      instance: /api/hyperfleet/v1/clusters
      status: 409
      timestamp: '2024-01-15T10:30:00Z'
      title: Resource Conflict
      trace_id: cafe0011aabb9988
      type: 'https://api.hyperfleet.io/errors/resource-conflict'
    type: object
  DNSSpec:
    properties:
      baseDomain:
        type: string
    type: object
  ForbiddenDetails:
    allOf:
      - $ref: '#/definitions/ProblemDetails'
    example:
      code: HYPERFLEET-AUZ-001
      detail: You do not have permission to perform this action
      instance: /api/hyperfleet/v1/clusters
      status: 403
      timestamp: '2024-01-15T10:30:00Z'
      title: Permission Denied
      trace_id: 99aabbcc11223344
      type: 'https://api.hyperfleet.io/errors/permission-denied'
    type: object
  ForbiddenResponse:
    description: The client does not have permission to perform this action.
    properties:
      body:
        $ref: '#/definitions/ForbiddenDetails'
    required:
      - body
    type: object
  GCPClusterPlatform:
    properties:
      endpointAccess:
        enum:
          - Private
          - PublicAndPrivate
        type: string
      network:
        type: string
      projectID:
        type: string
      region:
        type: string
      subnet:
        type: string
      workloadIdentity:
        $ref: '#/definitions/GCPWorkloadIdentity'
    required:
      - projectID
      - region
    type: object
  GCPNodePoolPlatform:
    properties:
      instanceType:
        description: >-
          GCE machine type (e.g. n2-standard-4). Maps to HyperShift NodePool
          machineType.
        type: string
      rootVolume:
        allOf:
          - $ref: '#/definitions/GCPRootVolume'
        description: Boot disk configuration. Maps to HyperShift NodePool bootDisk.
      zone:
        description: >-
          GCP zone for node placement (e.g. us-central1-a). Falls back to
          cluster region + "-a" if not set.
        type: string
    type: object
  GCPRootVolume:
    properties:
      size:
        description: Boot disk size in GB. Maps to HyperShift bootDisk.diskSizeGB.
        minimum: 10
        type: integer
      type:
        description: Boot disk type. Maps to HyperShift bootDisk.diskType.
        enum:
          - pd-standard
          - pd-ssd
          - pd-balanced
        type: string
    type: object
  GCPServiceAccountsRef:
    properties:
      cloudControllerEmail:
        type: string
      controlPlaneEmail:
        type: string
      imageRegistryEmail:
        type: string
      networkEmail:
        type: string
      nodePoolEmail:
        type: string
      storageEmail:
        type: string
    type: object
  GCPWorkloadIdentity:
    properties:
      poolID:
        type: string
      projectNumber:
        type: string
      providerID:
        type: string
      serviceAccountsRef:
        $ref: '#/definitions/GCPServiceAccountsRef'
    required:
      - projectNumber
      - poolID
      - providerID
    type: object
  NetworkingSpec:
    properties:
      clusterNetwork:
        items:
          $ref: '#/definitions/ClusterNetworkEntry'
        type: array
      serviceNetwork:
        items:
          type: string
        type: array
    type: object
  NodePool:
    example:
      created_by: user@redhat.com
      created_time: '2021-01-01T00:00:00Z'
      generation: 1
      href: >-
        https://api.hyperfleet.com/v1/nodepools/019466a1-2b3c-7def-8abc-456789abcdef
      id: 019466a1-2b3c-7def-8abc-456789abcdef
      kind: NodePool
      labels:
        environment: production
        pooltype: worker
      name: worker-pool-1
      owner_references:
        href: >-
          https://api.hyperfleet.com/v1/clusters/019466a0-8f8e-7abc-9def-0123456789ab
        id: 019466a0-8f8e-7abc-9def-0123456789ab
        kind: Cluster
      spec:
        platform:
          gcp:
            instanceType: n2-standard-4
            rootVolume:
              size: 100
              type: pd-balanced
            zone: us-central1-a
          type: gcp
        release:
          channelGroup: candidate
          version: 4.18.0
        replicas: 2
      status:
        conditions:
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: >-
              All required adapters reported Available=True or Finalized=True at
              the current generation
            observed_generation: 1
            reason: ReconciledAll
            status: 'True'
            type: Reconciled
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: >-
              All required adapters report Available=True for the tracked
              generation
            observed_generation: 1
            reason: AllAdaptersReconciled
            status: 'True'
            type: LastKnownReconciled
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: >-
              Version 4.18.0 resolved to release image via Cincinnati channel
              candidate-4.18
            observed_generation: 1
            reason: ReleaseImageAvailable
            status: 'True'
            type: VersionResolved
          - created_time: '2021-01-01T10:01:00Z'
            last_transition_time: '2021-01-01T10:01:00Z'
            last_updated_time: '2021-01-01T10:01:00Z'
            message: NodePool ManifestWork applied to management cluster
            observed_generation: 1
            reason: ManifestWorkApplied
            status: 'True'
            type: NodePoolApplied
      updated_by: user@redhat.com
      updated_time: '2021-01-01T10:02:00Z'
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        description: >-
          Generation field is updated on customer updates, reflecting the
          version of the "intent" of the customer
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        description: NodePool name (unique in a cluster)
        maxLength: 15
        minLength: 3
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      owner_references:
        $ref: '#/definitions/ObjectReference'
      spec:
        $ref: '#/definitions/NodePoolSpec'
      status:
        $ref: '#/definitions/NodePoolStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - owner_references
      - status
    type: object
  NodePoolCreateRequest:
    example:
      kind: NodePool
      labels:
        environment: production
        pooltype: worker
      name: worker-pool-1
      spec:
        platform:
          gcp:
            instanceType: n2-standard-4
            rootVolume:
              size: 100
              type: pd-balanced
            zone: us-central1-a
          type: gcp
        release:
          channelGroup: candidate
          version: 4.18.0
        replicas: 2
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        description: NodePool name (unique in a cluster)
        maxLength: 15
        minLength: 3
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/NodePoolSpec'
    required:
      - name
      - spec
    type: object
  NodePoolCreateResponse:
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        description: >-
          Generation field is updated on customer updates, reflecting the
          version of the "intent" of the customer
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        description: NodePool name (unique in a cluster)
        maxLength: 15
        minLength: 3
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      owner_references:
        $ref: '#/definitions/ObjectReference'
      spec:
        $ref: '#/definitions/NodePoolSpec'
      status:
        $ref: '#/definitions/NodePoolStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - owner_references
      - status
    type: object
  NodePoolList:
    properties:
      items:
        items:
          $ref: '#/definitions/NodePool'
        type: array
      page:
        format: int32
        type: integer
      size:
        format: int32
        type: integer
      total:
        format: int32
        type: integer
    required:
      - page
      - size
      - total
      - items
    type: object
  NodePoolPatchRequest:
    additionalProperties: false
    example:
      labels:
        env: staging
      spec:
        platform:
          gcp:
            instanceType: n2-standard-8
            rootVolume:
              size: 200
              type: pd-ssd
          type: gcp
        release:
          channelGroup: stable
          version: 4.18.1
        replicas: 4
    minProperties: 1
    properties:
      labels:
        additionalProperties:
          type: string
        type: object
      spec:
        $ref: '#/definitions/NodePoolSpec'
    type: object
  NodePoolPlatformSpec:
    properties:
      gcp:
        $ref: '#/definitions/GCPNodePoolPlatform'
      type:
        enum:
          - gcp
        type: string
    required:
      - type
      - gcp
    type: object
  NodePoolReleaseSpec:
    properties:
      channelGroup:
        description: >-
          Cincinnati channel group (e.g. candidate, stable). Combined with
          version major.minor to derive channel.
        type: string
      version:
        description: >-
          OCP version string (e.g. 4.22.0-rc.5). Resolved to a release image by
          nodepool-vr-adapter via Cincinnati.
        type: string
    type: object
  NodePoolSpec:
    properties:
      platform:
        $ref: '#/definitions/NodePoolPlatformSpec'
      release:
        $ref: '#/definitions/NodePoolReleaseSpec'
      replicas:
        minimum: 0
        type: integer
    required:
      - platform
    type: object
  NodePoolStatus:
    description: |-
      NodePool status computed from all status conditions.

      This object is computed by the service and CANNOT be modified directly.
    properties:
      conditions:
        description: >-
          List of status conditions for the nodepool.


          **Mandatory conditions**:

          - `type: "Reconciled"`: Whether the resource's desired state has been
          fully reconciled by all adapters at the current generation.

          - `type: "LastKnownReconciled"`: Sticky cross-generation condition —
          stays True as long as all required adapters were reconciled at a
          common observed generation, even if a newer generation is being
          processed.


          These conditions are present immediately upon resource creation.
        items:
          $ref: '#/definitions/ResourceCondition'
        minItems: 2
        type: array
    required:
      - conditions
    type: object
  NotFoundDetails:
    allOf:
      - $ref: '#/definitions/ProblemDetails'
    example:
      code: HYPERFLEET-NTF-001
      detail: Cluster with id='019466a0-8f8e-7abc-9def-0123456789ab' not found
      instance: /api/hyperfleet/v1/clusters/019466a0-8f8e-7abc-9def-0123456789ab
      status: 404
      timestamp: '2024-01-15T10:30:00Z'
      title: Resource Not Found
      trace_id: deadbeef12345678
      type: 'https://api.hyperfleet.io/errors/resource-not-found'
    type: object
  ObjectReference:
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
    type: object
  OrderDirection:
    enum:
      - asc
      - desc
    type: string
  ProblemDetails:
    description: RFC 9457 Problem Details for HTTP APIs
    example:
      code: HYPERFLEET-INT-001
      detail: Unspecified error
      instance: /api/hyperfleet/v1/clusters
      status: 500
      timestamp: '2024-01-15T10:30:00Z'
      title: Internal Server Error
      trace_id: f0f0f0f0a1a1a1a1
      type: 'https://api.hyperfleet.io/errors/internal-error'
    properties:
      code:
        description: Machine-readable error code in HYPERFLEET-CAT-NUM format
        type: string
      detail:
        description: Human-readable explanation specific to this occurrence
        type: string
      errors:
        description: Field-level validation errors (for validation failures)
        items:
          $ref: '#/definitions/ValidationError'
        type: array
      instance:
        description: URI reference for this specific occurrence
        format: uri-reference
        type: string
      status:
        description: HTTP status code
        type: integer
      timestamp:
        description: RFC3339 timestamp of when the error occurred
        format: date-time
        type: string
      title:
        description: Short human-readable summary of the problem
        type: string
      trace_id:
        description: Distributed trace ID for correlation
        type: string
      type:
        description: URI reference identifying the problem type
        format: uri
        type: string
    required:
      - type
      - title
      - status
    type: object
  ReleaseSpec:
    properties:
      channelGroup:
        type: string
      image:
        type: string
      version:
        type: string
    type: object
  ResourceCondition:
    description: >-
      Condition in Cluster/NodePool status

      Used for semantic condition types: "ValidationSuccessful",
      "DNSSuccessful", "NodePoolSuccessful", etc.

      Includes observed_generation and last_updated_time to track
      adapter-specific state
    properties:
      created_time:
        description: When this condition was first created (API-managed)
        format: date-time
        type: string
      last_transition_time:
        description: >-
          When this condition last transitioned status (API-managed)

          Only updated when status changes (True/False), not when reason/message
          changes
        format: date-time
        type: string
      last_updated_time:
        description: >-
          When the corresponding adapter last reported (API-managed)

          Updated every time the adapter PUTs, even if condition status hasn't
          changed

          Copied from AdapterStatus.last_report_time
        format: date-time
        type: string
      message:
        description: Human-readable message
        type: string
      observed_generation:
        description: Generation of the spec that this condition reflects
        format: int32
        type: integer
      reason:
        description: Machine-readable reason code
        type: string
      status:
        $ref: '#/definitions/ResourceConditionStatus'
      type:
        description: Condition type
        type: string
    required:
      - type
      - last_transition_time
      - status
      - observed_generation
      - created_time
      - last_updated_time
    type: object
  ResourceConditionStatus:
    description: Status value for resource conditions
    enum:
      - 'True'
      - 'False'
    type: string
  ResourceStatus:
    description: |-
      Aggregated status of the resource, populated by the status aggregation
      pipeline from adapter condition reports.
    properties:
      conditions:
        items:
          $ref: '#/definitions/ResourceCondition'
        type: array
    required:
      - conditions
    type: object
  UnauthorizedDetails:
    allOf:
      - $ref: '#/definitions/ProblemDetails'
    example:
      code: HYPERFLEET-AUT-001
      detail: Account authentication could not be verified
      instance: /api/hyperfleet/v1/clusters
      status: 401
      timestamp: '2024-01-15T10:30:00Z'
      title: Authentication Required
      trace_id: '1122334455667788'
      type: 'https://api.hyperfleet.io/errors/authentication-required'
    type: object
  ValidationError:
    description: Field-level validation error detail
    properties:
      constraint:
        description: The validation constraint that was violated
        enum:
          - required
          - min
          - max
          - min_length
          - max_length
          - pattern
          - enum
          - format
          - unique
        example: required
        type: string
      field:
        description: JSON path to the field that failed validation
        example: spec.name
        type: string
      message:
        description: Human-readable error message for this field
        example: Cluster name is required
        type: string
      value:
        description: The invalid value that was provided (if safe to include)
    required:
      - field
      - message
    type: object
  Version:
    example:
      created_by: user-123@example.com
      created_time: '2025-06-01T00:00:00Z'
      generation: 1
      href: >-
        /api/hyperfleet/v1/channels/019466a2-1234-7abc-9def-0123456789ab/versions/019466a3-5678-7abc-9def-0123456789ab
      id: 019466a3-5678-7abc-9def-0123456789ab
      kind: Version
      labels: {}
      name: 4.17.12
      owner_references:
        href: /api/hyperfleet/v1/channels/019466a2-1234-7abc-9def-0123456789ab
        id: 019466a2-1234-7abc-9def-0123456789ab
        kind: Channel
      spec:
        enabled: true
        is_default: true
        raw_version: 4.17.12
        release_image: 'quay.io/openshift-release-dev/ocp-release:4.17.12-multi'
      status:
        conditions: []
      updated_by: user-123@example.com
      updated_time: '2025-06-01T10:02:00Z'
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        maxLength: 63
        minLength: 1
        type: string
      owner_references:
        $ref: '#/definitions/ObjectReference'
      spec:
        $ref: '#/definitions/VersionSpec'
      status:
        $ref: '#/definitions/ResourceStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - owner_references
      - status
    type: object
  VersionCreateRequest:
    example:
      kind: Version
      labels: {}
      name: 4.17.12
      spec:
        enabled: true
        is_default: true
        raw_version: 4.17.12
        release_image: 'quay.io/openshift-release-dev/ocp-release:4.17.12-multi'
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        maxLength: 63
        minLength: 1
        type: string
      spec:
        $ref: '#/definitions/VersionSpec'
    required:
      - name
      - spec
    type: object
  VersionList:
    properties:
      items:
        items:
          $ref: '#/definitions/Version'
        type: array
      page:
        format: int32
        type: integer
      size:
        format: int32
        type: integer
      total:
        format: int32
        type: integer
    required:
      - page
      - size
      - total
      - items
    type: object
  VersionPatchRequest:
    additionalProperties: false
    example:
      labels:
        deprecated: 'true'
      spec:
        enabled: false
        is_default: false
        raw_version: 4.17.12
        release_image: 'quay.io/openshift-release-dev/ocp-release:4.17.12-multi'
    minProperties: 1
    properties:
      labels:
        additionalProperties:
          type: string
        type: object
      spec:
        $ref: '#/definitions/VersionSpec'
    type: object
  VersionSpec:
    properties:
      enabled:
        description: Whether this version is enabled for provisioning
        type: boolean
      end_of_life_time:
        description: When this version reaches end of life
        format: date-time
        type: string
      is_default:
        description: Whether this is the default version for its channel
        type: boolean
      raw_version:
        description: 'Raw version string (e.g., "4.17.12")'
        type: string
      release_image:
        description: Container image reference for the release
        type: string
    required:
      - raw_version
      - enabled
      - is_default
      - release_image
    type: object
  WifConfig:
    example:
      created_by: user-123@example.com
      created_time: '2025-06-01T00:00:00Z'
      generation: 1
      href: /api/hyperfleet/v1/wifconfigs/019466a2-5678-7abc-9def-0123456789ab
      id: 019466a2-5678-7abc-9def-0123456789ab
      kind: WifConfig
      labels:
        environment: production
      name: my-wif-config
      spec:
        project_id: my-gcp-project-123
        version: '4.17'
      status:
        conditions: []
      updated_by: user-123@example.com
      updated_time: '2025-06-01T10:02:00Z'
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        maxLength: 63
        minLength: 1
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/WifConfigSpec'
      status:
        $ref: '#/definitions/ResourceStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - status
    type: object
  WifConfigCreateRequest:
    example:
      kind: WifConfig
      labels:
        environment: production
      name: my-wif-config
      spec:
        project_id: my-gcp-project-123
        version: '4.17'
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        maxLength: 63
        minLength: 1
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/WifConfigSpec'
    required:
      - name
      - spec
    type: object
  WifConfigList:
    properties:
      items:
        items:
          $ref: '#/definitions/WifConfig'
        type: array
      page:
        format: int32
        type: integer
      size:
        format: int32
        type: integer
      total:
        format: int32
        type: integer
    required:
      - page
      - size
      - total
      - items
    type: object
  WifConfigPatchRequest:
    additionalProperties: false
    example:
      labels:
        environment: staging
      spec:
        project_id: my-gcp-project-456
        version: '4.18'
    minProperties: 1
    properties:
      labels:
        additionalProperties:
          type: string
        type: object
      spec:
        $ref: '#/definitions/WifConfigSpec'
    type: object
  WifConfigSpec:
    properties:
      project_id:
        description: GCP project identifier
        type: string
      version:
        description: Version of the WIF configuration
        type: string
    required:
      - version
      - project_id
    type: object
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
tags:
  - name: Clusters
  - name: NodePools
  - name: Channels
  - name: Versions
  - name: WifConfigs
x-components:
  parameters:
    QueryParams.order:
      enum:
        - asc
        - desc
      in: query
      name: order
      required: false
      type: string
    QueryParams.orderBy:
      default: created_time
      in: query
      name: orderBy
      required: false
      type: string
    QueryParams.page:
      default: 1
      format: int32
      in: query
      minimum: 1
      name: page
      required: false
      type: integer
    QueryParams.pageSize:
      default: 20
      format: int32
      in: query
      minimum: 1
      name: pageSize
      required: false
      type: integer
    SearchParams:
      description: >-
        Filter results using TSL (Tree Search Language) query syntax.

        Examples: `status.conditions.Reconciled='True'`, `name in ('c1','c2')`,
        `labels.region='us-east'`
      in: query
      name: search
      required: false
      type: string
